<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Usuarios</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container container-wide">
      <img
        src="{{ url_for('static', filename='img/logo-netbroker.png') }}"
        alt="Logo de NetBroker"
        class="logo"
      />
      <div class="filtro-titulo">
        Usuarios: <span class="rol">{{ titulo }}</span>
      </div>

      <div class="btn-container container-wide">
        <a href="{{ url_for('usuarios.nuevo_usuario') }}" class="btn btn-blue"
          ><span class="icono-blanco">➕</span>Nuevo Usuario</a
        >
        <a
          href="{{ url_for('usuarios.listar_usuarios') }}"
          class="btn btn-white"
          >Todos</a
        >
        <a
          href="{{ url_for('usuarios.listar_usuarios') }}?rol=admin"
          class="btn btn-white"
          >Administradores</a
        >
        <a
          href="{{ url_for('usuarios.listar_usuarios') }}?rol=cliente"
          class="btn btn-white"
          >Clientes</a
        >
      </div>

      <!-- TABLA -->
<table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Usuario</th>
            <th>Rol</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for u in usuarios %}
          <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.nombre }}</td>
            <td>{{ u.usuario }}</td>
            <td>{{ u.rol }}</td>
            <td>
              <a
                href="{{ url_for('usuarios.editar_usuario', id=u.id) }}"
                class="btn btn-white"
                >✏️ Editar</a
              >
              {% if u.rol == 'cliente' %}
              <a
                href="{{ url_for('usuarios.datos_art', usuario_id=u.id) }}"
                class="btn btn-white"
                >📊 Datos ART</a>
              {% endif %}
              <a
                href="{{ url_for('usuarios.eliminar_usuario', id=u.id) }}"
                class="btn btn-white"
                onclick="return confirm('¿Eliminar usuario?')"
                >🗑️</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
<!-- FIN TABLA -->

      <div class="centered-buttons">
        <a href="{{ url_for('auth.admin') }}" class="btn btn-white"
          >← Volver al panel</a
        >
      </div>
    </div>
  </body>
</html>
